.place-details {
  width: 70%;
  display: flex;
  border-radius: 7px;
  margin-top: 1rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #4cdfb5;
  border-radius: 5px;
  flex-direction: column;
  justify-items: center;
}

.place-details .content {
  padding: 0.5rem;
  line-height: 1.8;
  text-align: center;
}

.place-details .content > * {
  margin: 0.8rem 0;
}

.place-details .content .p-code {
  font-weight: lighter;
}

.place-details .content .p-type {
  display: inline-block;
  margin-top: auto;
  padding: 0.3rem 0.5rem;
  border: 2px solid #4cdfb5;
  border-radius: 5px;
}
